{{!-- The following component displays Ember's default welcome message. --}}
<h1 style="text-align: center;">Examen de peso</h1>
{{!-- Feel free to remove this! --}}

<div class="container">
  <div class="row">
    <div class="col">Examen de peso CCI</div>
  </div>
  <div class="row">
    <div class="col col-md-4">
        <img src="/images/skylight.png" alt="" width="100%">
        Examen
    </div>
    <div class="col col-md-8">
        {{outlet}}
    </div>
  </div>
</div>