<form action="/pesoideal/resultado" method="GET">
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input type="radio" id="genero_hombre" name="gender" class="form-check-input" value="1" required>
            <label class="form-check-label" for="genero_hombre">Hombre</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" id="genero_mujer" name="gender" class="form-check-input" value="2" required>
            <label class="form-check-label" for="genero_mujer">Mujer</label>
        </div>
    </div>
    <div class="form-group">
        <label for="altura">Altura (cm)</label>
        <input type="number" class="form-control" id="altura" name="height" placeholder="altura" min="0" required>
    </div>
    <div class="form-group">
        <label for="edad">Edadasds</label>
        <input type="number" class="form-control" id="edad" name="age" placeholder="edad" min="0" required>
    </div>
    <div class="form-group">
        <label for="peso">Peso (kg)</label>
        <input type="number" class="form-control" id="peso" name="weight" placeholder="peso" min="0" required>
    </div>
    <button type="submit" class="btn btn-primary">Calcular</button>
</form>
{{outlet}}